%section#footer
  %p.footer-text
    = t('footer')
  .footer-social-media
    = link_to 'https://www.facebook.com/thinkingcouch/', class: 'social-media-link', target: '_blank' do
      = fa_icon "facebook-square", class: 'fa-lg'
    = link_to 'https://twitter.com/thinkingcouchmx', class: 'social-media-link', target: '_blank' do
      = fa_icon "twitter", class: 'fa-lg'
    = link_to 'https://www.instagram.com/thinkingcouchmx/', class: 'social-media-link', target: '_blank' do
      = fa_icon "instagram", class: 'fa-lg'
