%section#header
  = image_tag "shared/logo.svg", class: 'header-logo '
  .header-container
    .header-column
      = image_tag images.hero_image_mobile.url, class: 'header-image'
      .header-text-container
        %h3.header-title
          = hero_title
        %p.header-description
          = hero_paragraph
      .locations
        %h4.title
          = t('header.location.title')
        %span.location
          = fa_icon "map-marker"
          = t('header.location.location1')
        %span.location
          = fa_icon "map-marker"
          = t('header.location.location2')
      .header-social-media
        %h3.header-title-social-media
          = t('header.social-media.title')
        .header-icons-social-media
          = link_to 'https://www.facebook.com/thinkingcouch/', class: 'social-media-link', target: '_blank' do
            = fa_icon "facebook-square", class: 'fa-lg'
          = link_to 'https://twitter.com/thinkingcouchmx', class: 'social-media-link', target: '_blank' do
            = fa_icon "twitter", class: 'fa-lg'
          = link_to 'https://www.instagram.com/thinkingcouchmx/', class: 'social-media-link', target: '_blank' do
            = fa_icon "instagram", class: 'fa-lg'
    .header-column-image
      = image_tag images.hero_image.url, class: 'header-image-desktop'

