%section#about-us
  .au-container
    .au-video
    %p.au-text.au-description
      = t('home.description-paragrap_html')
    .au-participants
      image
      .au-data
        %h3.au-data-title
          = t('home.about_us.thinkers.title_html')
        %p.au-data-text
          = t('home.about_us.thinkers.description_html')
      .au-data
        %h3.au-data-title
          = t('home.about_us.speakers.title_html')
        %p.au-data-text
          = t('home.about_us.speakers.description_html')

