!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8; width=1000", "http-equiv" => "Content-Type"}/
    %meta{:name =>'viewport', :content => 'width=device-width, initial-scale=1'}
    %title TCouch
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-main
      =render partial: 'shared/header', locals: { images: @images }
      .body
        = yield
      =render partial: 'shared/footer'
